extends layout

block content
  +nav("Project name", "dropdown_menu","inverse")
    +nav_item( "index.html", "active" ) Home
      +nav_item( "link" ) About
      +nav_item( "contact.html" ) Contact
      +nav_item_dropdown( "#" )( label="Dropdown" )
        +nav_item( "#" ) Action
        +nav_item( "#" ) Another action
        +nav_item( "#" ) Something else here
        +nav_divider
        +nav_header Nav header
        +nav_item( "#" ) Separated link
        +nav_item( "#" ) One more separated link 
  .row
    .col-md-4.col-sm-6.col-xs-12
      +panel("Panel Heading","success") We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.
    .col-md-4.col-sm-6.col-xs-12
      +panel("Panel Heading2") We are a fairly small, flexible design studio that designs for print and web. We work flexibly with clients to fulfil their design needs. Whether you need to create a brand from scratch, including marketing materials and a beautiful and functional website or whether you are looking for a design refresh we are confident you will be pleased with the results.
    .col-md-4.col-sm-6.col-xs-12
  .row
    .col-md-4.col-sm-6.col-xs-12
      +button("primary", "link") Primary
      +button("primary") Default
      +button("success", "success.html", "large") success
      +button("info", "info.html", "small") info
      +button("warning", "warning.html", "mini") Warning
    .col-md-4.col-sm-6.col-xs-12
      +alert("warning") Warning! Warning!
      +alert("danger") Danger Will Robinson!
      +alert("success") You succeeded :-)
      +alert("info") Some information for you
  +listGroup("list")
    +listItem("active") Cras justo odio
    +listItem Dapibus ac facilisis in
    +listItem Morbi leo risus
    +listItem Dapibus ac facilisis in
    +listItem Morbi leo risus
    +listItem Dapibus ac facilisis in
  +listGroup("links")
    +listItem("link1.html", "active")
      +listHeading List group item heading
      +listText Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    +listItem("link2.html")
      +listHeading List group item heading
      +listText Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
    +listItem("link3.html")
      +listHeading List group item heading
      +listText Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.
